@using MyAbpDemoProject.DataModels
@using MyAbpDemoProject.Web.Models.Common.Modals
@model MyAbpDemoProject.Web.Models.MyMenus.EditMenuModalViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("编辑菜品"))
<div class="modal-body">
    <form name="MyMenuEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.MyMenu.Id" />
        <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-mymenu-details">
            <div class="row clearfix" style="margin-top:10px;">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="name" type="text" name="Name" value="@Model.MyMenu.Name" required maxlength="@MyMenu.MaxNameLength" minlength="2" class="validate form-control">
                            <label for="name" class="form-label">菜品名称</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="description" type="text" name="description" value="@Model.MyMenu.Description" maxlength="@MyMenu.MaxDescriptionLength" class="validate form-control">
                            <label for="description" class="form-label">菜品介绍</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="form-line">
                            <input id="price" type="text" name="price" value="@Model.MyMenu.Price" maxlength="@MyMenu.MaxPriceLength" class="validate form-control">
                            <label for="price" class="form-label">价格</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-12">
                    <div class="form-group form-float">
                        <div class="">
                            <input id="IsActive" type="checkbox" name="IsActive" value="true" @(Model.MyMenu.IsActive ? "checked" : "") class="form-control" />
                            <label for="IsActive" class="form-label">启用</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
<script src="~/Views/MyMenus/_EditMenuModal.js"></script>
