@using Abp.Web.Mvc.Extensions
@using MyAbpDemoProject.MyMenus.Dto
@using MyAbpDemoProject.DataModels
@model MyAbpDemoProject.Web.Models.MyMenus.MenuListViewModel
@{
    ViewBag.ActiveMenu = PageNames.MyMenus; //The menu item will be active for this page.
}
@section scripts
{
    @Html.IncludeScript("~/Views/MyMenus/Index.js")
}
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    菜单管理 @*@L("MyMenus")*@
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a id="RefreshButton" href="javascript:void(0);" class="waves-effect waves-block"><i class="material-icons">refresh</i>刷新</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>菜品名称</th>
                            <th>菜品介绍</th>
                            <th>价格</th>
                            <th>启用</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (MenuListDto myMenu in Model.MyMenus)
                        {
                            <tr>
                                <td>@myMenu.Name</td>
                                <td>@myMenu.Description</td>
                                <td>@myMenu.Price</td>
                                <td><i class="material-icons" style="color:@(myMenu.IsActive ? "green":"red");">@(myMenu.IsActive ? "check_box" : "indeterminate_check_box")</i></td>
                                <td class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">menu</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="#" class="waves-effect waves-block edit-mymenu" data-mymenu-id="@myMenu.Id" data-toggle="modal" data-target="#MyMenuEditModal"><i class="material-icons">edit</i>@L("Edit")</a></li>
                                        <li><a href="#" class="waves-effect waves-block delete-mymenu" data-mymenu-id="@myMenu.Id" data-mymenu-name="@myMenu.Name"><i class="material-icons">delete_sweep</i>@L("Delete")</a></li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" data-toggle="modal" data-target="#MyMenuCreateModal">
                    <i class="material-icons">add</i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MyMenuCreateModal" tabindex="-1" role="dialog" aria-labelledby="MyMenuCreateModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>新增菜品</span>
                </h4>
            </div>
            <div class="modal-body">
                <form name="mymenuCreateForm" role="form" novalidate class="form-validation">
                    <div class="tab-content">
                        <div class="row clearfix" style="margin-top:10px;">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input class="form-control" type="text" name="Name" required maxlength="@MyMenu.MaxNameLength" minlength="2">
                                        <label class="form-label">菜品名称</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input class="form-control" type="text" name="description" maxlength="@MyMenu.MaxDescriptionLength">
                                        <label class="form-label">菜品介绍</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input class="form-control" type="text" name="price" maxlength="@MyMenu.MaxPriceLength">
                                        <label class="form-label">菜品价格</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input type="checkbox" name="IsActive" value="true" id="CreateMyMenuIsActive" class="filled-in" checked />
                                    <label for="CreateMyMenuIsActive">@L("IsActive")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@L("Cancel")</button>
                        <button type="submit" class="btn btn-primary waves-effect">@L("Save")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="MyMenuEditModal" tabindex="-1" role="dialog" aria-labelledby="MyMenuEditModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>